.dark {
    --hover-footer-link: #b6ccfb;

    --highlight-color-primary: #86aaf9;
    --highlight-color-secondary: #ffffff;

    --text-color-primary: #ffffff;
    --text-color-secondary: #161625;
    --text-color-in-input: #ffffff;
    --text-color-placeholder: #7c95b4;
    --text-color-link: #8997b4;

    --color-bg-primary: #161625;
    --color-bg-secondary: #2f3d5c;
    --bg-search-bar: #232c42;

    --dividing-line: #6275a3;

    --color-icon-nav: #c3d2e8;
    --hover-nav-icon: #7195e1;
    --color-bg-mobile-nav: #242431;
    --mobile-icon-nav-color: #576175;

    --color-notifications-border: #3d4a69;

    --color-bg-tooltip: #ebecef;
}

.light {
    --highlight-color-primary: #0b4dda;
    --highlight-color-secondary: #363c49;

    --text-color-primary: #20242c;
    --text-color-secondary: #ffffff;
    --text-color-in-input: #161625;
    --text-color-placeholder: #626c84;
    --text-color-link: #626c84;

    --color-bg-primary: #ffffff;
    --color-bg-secondary: #eceef4;
    --bg-search-bar: #f9fafb;

    --dividing-line: #a6b1c9;

    --color-icon-nav: #363c49;
    --hover-nav-icon: #0b4dda;
    --color-bg-mobile-nav: #f5f5f5;
    --mobile-icon-nav-color: #c7ccd6;

    --color-notifications-border: #e5e9f0;

    --color-bg-tooltip: #343740;

    --hover-footer-link: #062b79;
}