.contentContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 48px;

    box-sizing: border-box;
    padding: 42px;
}

.logo {
    fill: var(--highlight-color-primary);
}

.about {
    width: clamp(100px, 100%, 500px);

    text-align: center;
    font-size: 14px;
    color: var(--text-color-primary);
}

.omnibarContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.tabsWrapper {
    display: flex;
    justify-content: space-between;
    width: clamp(100px, 100%, 700px);
    height: 50px;

    border-bottom: 1px solid var(--color-notifications-border);
}

.tooltipContainer {
    position: relative;
}
.tooltipContainer.hidden {
    display: none;
}

.tooltip {
    position: absolute;
    top: -20px;
    left: -4px;

    background-color: var(--color-bg-tooltip);
    border-radius: 3px;

    color: var(--text-color-secondary);
    font-size: 12px;

    padding: 2px 4px;
}
.tooltip::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);

    border: 5px solid transparent;
    border-top: 5px solid var(--color-bg-tooltip);
}

.automate{
    align-self: center;
    fill: var(--text-color-primary);
    transition: all .15s ease-in-out;
    padding: 0 14px;

    cursor: pointer;
}
.automate:hover {
    fill: var(--highlight-color-primary);
}

.tipContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(100px, 100%, 700px);
    gap: 4px;

    background-color: var(--bg-search-bar);

    padding: 4px 4px;
}

.important {
    fill: var(--text-color-primary);
}

.tip {
    font-size: 14px;
    color: var(--text-color-primary);
}
.tip a {
    color: var(--highlight-color-primary);
    text-decoration: none;
}
.tip a:hover {
    color: var(--hover-footer-link);
}

@media screen and (max-width: 768px) {

    .contentContainer {
        padding: 22px;
    }

    .logo {
        display: none;
    }

    .about {
        display: none;
    }

    .omnibarContainer {
        width: clamp(100px, 100%, 470px);
    }

    .tabsWrapper {
        width: clamp(100px, 100%, 470px);
    }

    .automate {
        display: none;
    }

    .tipContainer {
        width: clamp(100px, 100%, 500px);
    }

    .important {
        display: none;
    }

}