.navTab {
    width: clamp(50px, 100%, 160px);

    text-align: center;
    color: var(--color-icon-nav);
    font-size: 14px;

    padding: 14px 28px;

    transition: color .15s ease-in-out;

    cursor: pointer;
}
.navTab:hover {
    color: var(--highlight-color-primary);
}

.active {
    color: var(--highlight-color-primary);
    border-bottom: 3px solid var(--highlight-color-primary);
}

.omnibar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: clamp(100px, 100%, 700px);
    gap: 24px;

    padding: 42px 0;
}

.omnibarInput {
    width: clamp(100px, 100%, 600px);
    height: 38px;

    background-color: var(--text-color-secondary);
    border: 1px solid var(--dividing-line);
    border-radius: 6px;

    color: var(--text-color-primary);

    box-sizing: border-box;
    padding: 7px;

    transition: border .15s ease-in-out;
}
.omnibarInput::placeholder {
    color: var(--dividing-line);
}
.omnibarInput:hover {
    border: var(--text-color-primary);
    border: 1px solid var(--text-color-primary);
}
.omnibarInput:focus {
    border: 1px solid var(--highlight-color-primary);
}

.description {
    width: clamp(100px, 100%, 400px);

    text-align: center;
    color: var(--text-color-primary);
    font-size: 14px;
}
.description a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--highlight-color-primary);
}
.description a:hover {
    color: var(--hover-footer-link);
}

@media screen and (max-width: 768px) {

    .navTab {
        width: clamp(50px, 100%, 100px);
    }

    .omnibar {
        padding: 42px 0;
    }

}